html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  padding: 20px;
  align-items: center;
  background-color: #f5f5f5;
}
.app, #root, .wrapper {
  height: 100%;
  width: 100%;
}
.wrapper h2 {
  padding: 20px;
}
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 100px 15px;
  margin: auto;
  text-align: center
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.employee-list-div {
  font-size: 30px;
  text-align: center;
}

.list-btn {
  margin-top: 20px;
}
.purpose-cont {
  text-align: center;
}
.purpose-cont > textarea {
  margin-bottom: 30px;
}

.purpose-cont > .btn-block {
  width: 50%;
  margin: 0 auto;
}
.purpose {
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  padding-top: 150px;
}
.emailSent {
  padding: 220px;
}
.emailSent > p {
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  color: darkgray;
}